@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Poppins:400,700&display=swap');

// Color and font variables
$font-heading: 'Fredericka the Great', cursive;
$font-text: 'Poppins', sans-serif;
$color-red: #b80000;
$color-orange: #bd8800;
$color-green: #00bd13;
$color-blue: #0028b7;
$color-purple: #8700b7;
$color-black: #000;
$color-gray: #696969;
$color-white: #fff;
$colors: $color-red $color-orange $color-green $color-blue $color-purple;

// ratio and modular scale
$ratio: 1.5;
$s0: 1rem;
$s1: $s0 * $ratio;
$s2: $s1 * $ratio;
$s3: $s2 * $ratio;
$s4: $s3 * $ratio;
$s5: $s4 * $ratio;
$s-1: $s0 / $ratio;
$s-2: $s-1 / $ratio;
$s-3: $s-2 / $ratio;
$s-4: $s-3 / $ratio;
$s-5: $s-4 / $ratio;

// measure and line height
$measure: 65ch;
$line-height: $ratio;
$line-height-small: 0.8 * $ratio;

// Set font, color, line height etc in root
:root{
    line-height: $ratio;
    font-size: calc(.333vw + 1em);
    font-family: $font-text;
    background-color: $color-white;
    color: $color-black;
}

// Set heading sizes and default type styles

h1, .h1 {
    font-size: $s3;
    font-family: $font-heading;
    letter-spacing: 0.1em;
}
h2, .h2 {
    font-size: $s2;
    font-family: $font-text;
}
h3, .h3 {
    font-size: $s1;
    font-family: $font-text;
}
h4, .h4 {
    font-size: $s-1;
    font-weight: normal;
}
h5, .h5 {
    font-size: $s-2;
    font-weight: normal;
}
h6, .h6 {
    font-size: $s-3;
    font-weight: normal;
}

p, .p {
    font-size: 0.8*$s0;
}

img, .img {
    max-width: 100%;
}

section {
    max-width: 70ch;
}

@media only screen and (max-width: 503px) {
    h1, .h1, h2, .h2, h3, .h3{
        text-align: center;
    }
}