.text-align-right{
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.line-height-sm {
    line-height: $line-height-small;
}

.padding-s0 {
    padding: $s0;
}

.justify-content\:center{
    justify-content: center;
}

.display\:none{
    display: none;
}