.text-align-right{
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.color\:gray {
    color: #aaaaaa;
}

.line-height-sm {
    line-height: $line-height-small;
}

.padding-s0 {
    padding: $s0;
}

.justify-content\:center{
    justify-content: center;
}

.display\:none{
    display: none;
}

// Color classes
.color\:red {
    color: $color-red !important;
}
.color\:orange {
    color: $color-orange !important;
}
.color\:green {
    color: $color-green !important;
}
.color\:blue {
    color: $color-blue !important;
}
.color\:purple {
    color: $color-purple !important;
}
.color\:black {
    color: $color-black !important;
}
.color\:gray {
    color: $color-gray !important;
}
.color\:white {
    color: $color-white !important;
}

.background-color\:red {
    color: $color-red !important;
}
.background-color\:orange {
    color: $color-orange !important;
}
.background-color\:green {
    color: $color-green !important;
}
.background-color\:blue {
    color: $color-blue !important;
}
.background-color\:purple {
    color: $color-purple !important;
}
.background-color\:black {
    color: $color-black !important;
}
.background-color\:gray {
    color: $color-gray !important;
}
.color\:white {
    color: $color-white !important;
}

// image utility classes
.object-fit\:contain {
    object-fit: contain !important;
}

.object-fit\:scale-down {
    object-fit: scale-down !important;
}

.hidden {
    display: none;
}

.border-thin {
    border: 1px solid $color-black;
}

.box-shadow, .drop-shadow {
    box-shadow: 5px 6px 10px $color-gray;
}