@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Poppins:400,700&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  text-decoration: none;
}

:root {
  line-height: 1.5;
  font-size: calc(.333vw + 1em);
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
}

h1, .h1 {
  font-size: 3.375rem;
  font-family: "Fredericka the Great", cursive;
  letter-spacing: 0.1em;
}

h2, .h2 {
  font-size: 2.25rem;
  font-family: "Poppins", sans-serif;
}

h3, .h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

h4, .h4 {
  font-size: 0.66667rem;
  font-weight: normal;
}

h5, .h5 {
  font-size: 0.44444rem;
  font-weight: normal;
}

h6, .h6 {
  font-size: 0.2963rem;
  font-weight: normal;
}

p, .p {
  font-size: 0.8rem;
}

img, .img {
  max-width: 100%;
}

section {
  max-width: 70ch;
}

@media only screen and (max-width: 503px) {
  h1, .h1, h2, .h2, h3, .h3 {
    text-align: center;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.with-sidebar {
  --s1: 1.5rem;
  overflow: hidden;
}

.with-sidebar > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -0.75rem;
}

.with-sidebar > * > * {
  margin: 0.75rem;
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.with-sidebar > * > :last-child {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.with-sidebar-right {
  --s1: 1.5rem;
  overflow: hidden;
}

.with-sidebar-right > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -0.75rem;
}

.with-sidebar-right > * > * {
  margin: 0.75rem;
  -ms-flex-preferred-size: 30ch;
      flex-basis: 30ch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.with-sidebar-right > * > :last-child {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.frame {
  padding-bottom: 56.25%;
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame > img,
.frame > video,
.frame > iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.frame-square {
  padding-bottom: 100%;
  position: relative;
}

.frame-square > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame-square > img,
.frame-square > video,
.frame-square > iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: 1.5rem;
}

.stack-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-sm > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-sm > * + * {
  margin-top: 1rem;
}

.stack-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-lg > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-lg > * + * {
  margin-top: 2.25rem;
}

.stack-xs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-xs > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-xs > * + * {
  margin-top: 0.67rem;
}

.cluster {
  --space: 1rem;
  overflow: hidden;
}

.cluster > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--space) / 2);
}

.switcher > * {
  --s1: 1.5rem;
  --measure: 65ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc((var(--s1) / 2) * -1);
}

.switcher > * > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc((var(--measure) - (100% - var(--s1))) * 999);
      flex-basis: calc((var(--measure) - (100% - var(--s1))) * 999);
  margin: calc(var(--s1) / 2);
}

.switcher > * > :nth-last-child(n+3),
.switcher > * > :nth-last-child(n+3) ~ * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

body {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

.logo {
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-align: right;
}

@media only screen and (max-width: 503px) {
  .logo {
    text-align: center;
  }
}

@use "sass:list";
.mobile-menu {
  display: none;
}

.social-media {
  color: #696969;
}

.footer {
  padding-bottom: 1rem;
}

.work a:hover, .work a.active,
.navigation a:hover,
.navigation a.active {
  font-weight: bold;
  cursor: pointer;
}

.work a.cat-1:hover, .work a.cat-1:active, .work a.cat-1.active,
.navigation a.cat-1:hover,
.navigation a.cat-1:active,
.navigation a.cat-1.active {
  color: #b80000;
}

.work a.cat-2:hover, .work a.cat-2:active, .work a.cat-2.active,
.navigation a.cat-2:hover,
.navigation a.cat-2:active,
.navigation a.cat-2.active {
  color: #bd8800;
}

.work a.cat-3:hover, .work a.cat-3:active, .work a.cat-3.active,
.navigation a.cat-3:hover,
.navigation a.cat-3:active,
.navigation a.cat-3.active {
  color: #00bd13;
}

.work a.cat-4:hover, .work a.cat-4:active, .work a.cat-4.active,
.navigation a.cat-4:hover,
.navigation a.cat-4:active,
.navigation a.cat-4.active {
  color: #0028b7;
}

.work a.cat-5:hover, .work a.cat-5:active, .work a.cat-5.active,
.navigation a.cat-5:hover,
.navigation a.cat-5:active,
.navigation a.cat-5.active {
  color: #8700b7;
}

@media only screen and (max-width: 40em) {
  .logo {
    text-align: center;
  }
  nav {
    background: #ddd;
  }
  nav .mobile-menu {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 0.5rem;
  }
  nav .menu {
    text-align: center;
    overflow: hidden;
    height: auto;
    max-height: 530px;
    -webkit-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
  }
  nav .menu .social-media .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .menu.collapsed {
    max-height: 0;
  }
  nav .social-media {
    color: inherit;
  }
}

@media (hover: hover) {
  .card {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: -webkit-filter 0.5s ease-out;
    transition: -webkit-filter 0.5s ease-out;
    transition: filter 0.5s ease-out;
    transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
  }
  .card:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transition: -webkit-filter 0.5s ease-out;
    transition: -webkit-filter 0.5s ease-out;
    transition: filter 0.5s ease-out;
    transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.color\:gray {
  color: #aaaaaa;
}

.line-height-sm {
  line-height: 1.2;
}

.padding-s0 {
  padding: 1rem;
}

.justify-content\:center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display\:none {
  display: none;
}

.color\:red {
  color: #b80000 !important;
}

.color\:orange {
  color: #bd8800 !important;
}

.color\:green {
  color: #00bd13 !important;
}

.color\:blue {
  color: #0028b7 !important;
}

.color\:purple {
  color: #8700b7 !important;
}

.color\:black {
  color: #000 !important;
}

.color\:gray {
  color: #696969 !important;
}

.color\:white {
  color: #fff !important;
}

.background-color\:red {
  color: #b80000 !important;
}

.background-color\:orange {
  color: #bd8800 !important;
}

.background-color\:green {
  color: #00bd13 !important;
}

.background-color\:blue {
  color: #0028b7 !important;
}

.background-color\:purple {
  color: #8700b7 !important;
}

.background-color\:black {
  color: #000 !important;
}

.background-color\:gray {
  color: #696969 !important;
}

.color\:white {
  color: #fff !important;
}

.object-fit\:contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.object-fit\:scale-down {
  -o-object-fit: scale-down !important;
     object-fit: scale-down !important;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */