<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# <link rel="stylesheet" href="./css/main.css"> #}
    {% set css %}
        {% include "assets/css/main.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
    <script src="https://kit.fontawesome.com/409f2580b6.js" crossorigin="anonymous"></script>
    <title>CaseyJudge | Portfolio</title>
</head>

<body>
    <div class="container with-sidebar padding-s0">
        <div class="wrapper">
            <aside class="stack text-align-right">
                <a href="/"><h1 class="logo">Casey Judge</h1></a>
                <nav class="stack">
                    <a href="javascript:void(0);" class="mobile-menu cluster">
                        <div class="wrapper justify-content:center">
                            <p>Menu</p><i class="fas fa-bars" alt="test?"></i>
                        </div>
                    </a>
                    <div class="stack mobile-links display:none">
                        <div class="stack-sm">
                            <a section-link="work" href="/work/all">All Work</a>
                            <a href="/work/3d-models">3D Models</a>
                            <a href="/work/ux-ui-design">UX/UI Design</a>
                            <a href="/work/animation">Animation</a>
                            <a href="/work/interactive-media">Interactive Media</a>
                            <a href="/work/physical-computing">Physical Computing</a>
                        </div>
                        <div class="stack-sm">
                            <a href="/about">About</a>
                            <a href="/contact">Contact</a>
                        </div>
                        <div class="cluster">
                            <div class="wrapper justify-content:center">
                                <a href="https://www.instagram.com/acaciajudge/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/acacia-judge/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
                                <a href="https://twitter.com/glaack" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                                <a href="mailto:acaciajudge@gmail.com" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></i></a>
                            </div>
                        </div>
                        <footer class="text-align-center">
                            <h5>site design (c) casey judge.</h5>
                            <h5>website built by alex lotsos.</h5>
                        </footer>
                    </div>
                    <div class="stack-sm work">
                        <a section-link="work" href="/work/all">All Work</a>
                        <a class="cat-1" href="/work/3d-models">3D Models</a>
                        <a class="cat-2" href="/work/ux-ui-design">UX/UI Design</a>
                        <a class="cat-3" href="/work/animation">Animation</a>
                        <a class="cat-4" href="/work/interactive-media">Interactive Media</a>
                        <a class="cat-5" href="/work/physical-computing">Physical Computing</a>
                    </div>
                    <div class="stack-sm navigation">
                        <a section-link="about" href="/about">About</a>
                        <a section-link="contact" href="/contact">Contact</a>
                    </div>
                </nav>
                <div class="cluster social-media">
                    <div class="wrapper">
                        <a href="https://www.instagram.com/glaack/" target="_blank" rel="noopener"><i class="fab fa-instagram color:gray"></i></a>
                        <a href="https://www.linkedin.com/in/acacia-judge/" target="_blank" rel="noopener"><i class="fab fa-linkedin color:gray"></i></a>
                        <a href="https://twitter.com/glaack" target="_blank" rel="noopener"><i class="fab fa-twitter color:gray"></i></a>
                        <a href="mailto:acaciajudge@gmail.com" target="_blank" rel="noopener"><i class="fas fa-envelope color:gray"></i></i></a>
                    </div>
                </div>
                <footer class="text-align-right footer">
                    <h5>site design (c) casey judge.</h5>
                    <h5>website built by alex lotsos.</h5>
                </footer>
            </aside>
            <main class="padding-s0">
                {{ layoutContent | safe }}
            </main>
        </div>
    </div>
    {% set navjs %}
        {% include "assets/js/nav.js" %}
    {% endset %}
    <script>{{ navjs | jsmin | safe }}</script>
    {% set mobileMenu %}
        {% include "assets/js/mobile-menu.js" %}
    {% endset %}
    <script>{{ mobileMenu | jsmin | safe }}</script>
</body>