$frame-sq-n: 1;
$frame-sq-d: 1;

.frame-square {
    padding-bottom: ($frame-sq-n / $frame-sq-d) * 100%;
    position: relative;
  }
  
  .frame-square > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .frame-square > img,
  .frame-square > video,
  .frame-square > iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }