.with-sidebar {
    --s1: #{$s1};
    overflow: hidden;
  }
  
  .with-sidebar > * {
    display: flex;
    flex-wrap: wrap;
    margin: ($s1 / 2) * -1;
  }
  
  .with-sidebar > * > * {
    margin: $s1/2;
    flex-basis: 12.5rem;
    flex-grow: 1;
  }
  
  .with-sidebar > * > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s1));
  }

  .with-sidebar-right {
    --s1: #{$s1};
    overflow: hidden;
  }
  
  .with-sidebar-right > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: ($s1 / 2) * -1;
  }
  
  .with-sidebar-right > * > * {
    margin: $s1/2;
    flex-basis: 30ch;
    flex-grow: 1;
  }
  
  .with-sidebar-right > * > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s1));
  }