@use "sass:list";

.work,
.navigation {

    a:hover, a.active {
        font-weight: bold;
    }

    @for $i from 1 through 5 {
        a.cat-#{$i}:hover, a.cat-#{$i}:active, a.cat-#{$i}.active {
            color: nth($colors, $i);
        }
    }
}