---
layout: base.njk
---

<section class="switcher" id="about">
    <div class="wrapper">
        <div class="">
            <div class="frame"><img src= {{ imgSrc }} alt=""></div>
        </div>
        <div class="stack">

            {{ layoutContent | safe }}

        </div>
    </div>
</section>